<div id="main_container">

    <!--*****************************************-->
    <!--               PANEL TOP                 -->
    <!--*****************************************-->
        <div id="header">
             {% include "header.html" %}
        </div>
    <!--*****************************************-->
    <!--               END PANEL TOP             -->
    <!--*****************************************-->

    <div id="content">
    <!--*****************************************-->
    <!--               HOME                      -->
    <!--*****************************************-->
        <div id="home">
             {% include "home.html" %}
        </div>
    <!--*****************************************-->
    <!--             END HOME                    -->
    <!--*****************************************-->


    <!--*****************************************-->
    <!--                 RESUME                  -->
    <!--*****************************************-->
        <div id="resume">
             {% include "resume.html" %}
        </div>
    <!--*****************************************-->
    <!--               END RESUME                -->
    <!--*****************************************-->
    
    <!--*****************************************-->
    <!--                  TOUR                   -->
    <!--*****************************************-->
        <div id="tour">
             {% include "tour.html" %}
        </div>
    <!--*****************************************-->
    <!--               END TOUR                  -->
    <!--*****************************************-->
    </div>

    <!--*****************************************-->
    <!--                 CONTACT                 -->
    <!--*****************************************-->
        <div id="contact">
             {% include "contact.html" %}
        </div>
    <!--*****************************************-->
    <!--              END CONTACT                -->
    <!--*****************************************-->

    <!--*****************************************-->
    <!--                 PANEL BOTTOM            -->
    <!--*****************************************-->
        <div id="footer">
             {% include "footer.html" %}
        </div>
    <!--*****************************************-->
    <!--              END PANEL BOTTOM           -->
    <!--*****************************************-->

</div>
