<html lang="en">
<head xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
	<meta charset="utf-8">

    <title>Arthur Rio</title>

    <meta name="Description" content="Arthur Rio personal website, software engineer / Site personnel d'Arthur Rio, ingénieur en informatique" />
    <meta name="Arthur Rio" content="Arthur Rio">
    <meta name="keywords" content="Arthur, Rio, Polytech, développeur, ingénieur, logiciel, Palo Alto, programmer, software, engineer, python, django, javascript, JQuery, PunchTab">
    <meta property="fb:admins" content="721178891" />
    <meta property="og:image" content="http://www.arthur-rio.fr/static/img/pictures/test.png" />
    <meta property="og:title" content="Arthur Rio, software engineer" />
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:locale:alternate" content="fr_FR" />    
    <meta property="og:url" content="http://www.arthur-rio.fr"/>
    <meta property="og:site_name" content="Arthur Rio, software engineer"/>
    <meta property="og:description"
          content="Arthur Rio personal website, software engineer / Site personnel d'Arthur Rio, ingénieur en informatique"/>
    
    
    <meta name="robots" content="all">
    <meta name="google-site-verification" content="5CfLR-2mUfFQYMOMyZ4ZqC_QJUw3AQbzBK1tJE-A29o" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root of 	your domain and delete these references -->
	<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon/computer.png">

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">


</head>
<body>
<div id="fb-root"></div>

<script>

var field_required = '{{ data.contact.field_required }}';

function convertToString(html)
{
  html = html.replace(/&/g, "&amp;");
  html = html.replace(/>/g, "&gt;");
  html = html.replace(/</g, "&lt;");
  html = html.replace(/"/g, "&quot;");
  html = html.replace(/'/g, "&#039;");
  return str;
}


function convertToHtml(str)
{
  str = str.replace(/&amp;/g,'&');
  str = str.replace(/&gt;/g,'>');
  str = str.replace(/&lt;/g,'<');
  str = str.replace(/&quot;/g,'"');
  str = str.replace(/&#039;/g,"'");
  return str;
}

    var intro = new Array();
    {% if data and data.intro %}
    var i = 0;
    {% for text in data.intro %}
        intro[i] = convertToHtml("{{ text }}");
        i++;
    {% endfor %}
    {% endif %}
</script>
<noscript>
    <div id="noscript">
        <div class="message_error">
            Your web browser must have JavaScript enabled in order for this application to display correctly.
            <br><br>
            Votre navigateur doit avoir l'option Javascript activ&eacute;e pour afficher correctement ce site Web.
        </div>
        <div class="contact">
            <table>
                <tr>
                    <td rowspan='6'><img width='100' height='128' alt='my picture' src='{{ STATIC_URL }}img/pictures/picture.jpg' /></td>
                    <td style='padding-left: 5px'>Arthur Rio</td>
                </tr>
                <tr>
                    <td style='padding-left: 5px'>311 Cowper Street, Palo Alto</td>
                </tr>
                <tr>
                    <td style='padding-left: 5px'>California, 94025</td>
                </tr>
                <tr>
                    <td style='padding-left: 5px'>United States of America</td>
                </tr>
                <tr>
                    <td style='padding-left: 5px'>+33 632 911 654</td>
                </tr>
                <tr>
                    <td style='padding-left: 5px'>
                        <a href='http://www.facebook.com/arthur.rio' target='_blank' title='Follow Arthur Rio on Facebook'><img src='{{ STATIC_URL }}img/link/facebook.png' /></a>
                        <a href='http://www.twitter.com/arthur_rio' target='_blank' title='Follow Arthur Rio on Twitter'><img src='{{ STATIC_URL }}img/link/twitter.png' /></a> 
                        <a href='skype:arthur.rio?call' title='Call Arthur Rio on Skype'><img src='{{ STATIC_URL }}/img/link/skype.png' /></a>
                        <a href='http://www.viadeo.com/fr/profile/arthur.rio' target='_blank' title='See Arthur Rio Viadeo profile'><img width='16' height='16' src='{{ STATIC_URL }}img/link/viadeo.png' /></a>
                        <a href='http://fr.linkedin.com/in/arthurio' target='_blank' title='See Arthur Rio LinkedIn profile'><img width='16' height='16' src='{{ STATIC_URL }}img/link/linkedin.png' /></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</noscript>


{% include "body.html" %}
{% include "popup.html" %}

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script>!window.jQuery && document.write('<script src="{{ STATIC_URL }}lib/jquery-ui/jquery-1.4.4.min.js"><\/script>')</script>

<script src="{{ STATIC_URL}}js/jquery-ui-1.8.16.custom.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL}}js/script.js" type="text/javascript"></script> 

<!-- FACEBOOK -->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- GOOGLE PLUS ONE -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15522286-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
