<img id="left_arrow" src="{{STATIC_URL}}img/icons/arrow_left.png"/>

<div id="menu">
    <ul>
        {% for item in data.tour.menu %}
            {% if forloop.counter0 != 0 %}&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;{%endif%}
            <li num="{{forloop.counter0}}" name="{{item|lower}}" {% if forloop.counter0 == 0 %}class="selected"{%endif%}>{{ item }}</li>
        {% endfor %}
    </ul>
</div>

<div id="tour_content" class="formation" type="text/html">
form
</div>

<div id="tour_content" class="technologies" type="text/html">
techno
</div>

<div id="tour_content" class="trips" type="text/html">
trips
</div>

<div id="tour_content" class="sport" type="text/html">
sport
</div>

<img id="right_arrow" src="{{STATIC_URL}}img/icons/arrow_right.png"/>
