body {
    font:13px "Helvetica Neue", helvetica, sans-serif;
    *font-size:small;
    *font:x-small;
    line-height:1.22;
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background: white;
}

html {
 -webkit-font-smoothing: antialiased;
}
div.twitter_follow {
    width: 50px;
    height: 50px;
    background: url('../img/link/twitter_follow.png') no-repeat;
}

div.facebook_pt {
    width: 50px;
    height: 50px;
    background: url('../img/link/facebook_pt.png') no-repeat;
}

div.punchtab_website {
    width: 136px;
    height: 50px;
    background: url('../img/link/punchtab.png') no-repeat;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

button {
    cursor: pointer;
}

.red_button {
    font-size: 16px;
    font-weight: 300;
    background: #8b1c1a;
    border: 1px solid #531211;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 0 #a7413f inset;
    -moz-box-shadow: 0 1px 0 #a7413f inset;
    -webkit-box-shadow: 0 1px 0 #a7413f inset;
    color: #e7e3dd !important;
    text-align: center;
    text-shadow: 0 -1px 0 #5a1c1a;
    padding: 5px 15px 5px 15px;
}
.red_button:hover {
    background: #7e1a18;
    -box-shadow: #45100f 0px 1px 3px inset;
    -moz-box-shadow: #45100f 0px 1px 3px inset;
    -webkit-box-shadow: #45100f 0px 1px 3px inset;
}
.red_button:active {
    background: #6c1816;
    box-shadow: 0 1px 2px #581413 inset;
    -moz-box-shadow: 0 1px 2px #581413 inset;
    -webkit-box-shadow: 0 1px 2px #581413 inset;
}

.empty {
    color: gray;
}

/*-=------------------------------------------------*/
/*                  NO SCRIPT                       */
/*--------------------------------------------------*/
#noscript {
    width:100%;
    height:100%;
    position: absolute;
    clear:both;
    background-color: white;
    font-family: sans-serif;
    font-size: 14;
}

#noscript .message_error {
    width: 22em;
    margin: auto;
    margin-top: 50px;
    width: 22em;
    color: red;
    border: 1px solid red;
    padding: 4px;
    text-align:center;
}
#noscript .contact {
    margin: auto;
    margin-top: 50px;
    width: 250px;
}
/*-=------------------------------------------------*/
/*                      POPUP                       */
/*--------------------------------------------------*/
.overlay {
    clear: both;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=30);
    -khtml-opacity: .3;
    -moz-opacity: .3;
    opacity: .3;
}

#popup {
    position: absolute;
    top: 100px;
    display: none;
    width:100%;
}

#popup .container {
    max-width: 800px;
    margin: auto;
    position: relative;
    -moz-box-shadow:0 5px 40px rgba(0,0,0,.5);
    -webkit-box-shadow:0 5px 40px rgba(0,0,0,.5);
    box-shadow:0 5px 40px rgba(0,0,0,.5);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: url(../img/background/glossymetal.jpg) repeat;
}

#popup .content {
    border: 2px dashed black;
    border-radius: 8px;
    padding:10px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

#popup .close_button {
    cursor: pointer;
    float: right;
    margin: 10px;
}

#popup .close_button img {
    float: right;
}


/*-=------------------------------------------------*/
/*               MAIN CONTAINER                     */
/*--------------------------------------------------*/

#main_container {
    position: relative;
    min-width: 1100px;
    max-width: 1500px;
    margin: auto;
    -moz-box-shadow:30px 30px 25px rgb(43,43,43);
    -webkit-box-shadow: 30px 30px 25px rgb(43,43,43);
    box-shadow: 30px 30px 25px rgb(43,43,43);
}

/*-=------------------------------------------------*/
/*                      HEADER                      */
/*--------------------------------------------------*/

#header {
    overflow: hidden;
}

#banner {
    position:relative;
    height:200px;
    background: url(../img/background/darkGray_noise_bg.png) repeat;

}

#banner .contact {
    position:absolute;
    left:120px;
    top:5px;
}

#banner .contact h1 {
    letter-spacing:12px;
    color: #0097C5;
    margin: 0;
    font-size: 60px;
    font-weight:300;
}

#banner .contact h3 {
    margin:0;
    color: white;
    font-size: 22px;
    font-weight:300;
}

#banner .intro{
    position: absolute;
    width: 300px;
    height: 130px;
    font-size: 18px;
    right: 200px;
    top: 15px;
}

#banner .begining {
    display: none;
    color:#0097C5;
    font-size: 40px;
    position:absolute;
    top: 15px;
    right: 520px;
}

#banner .end {
    display: none;
    color:#0097C5;
    font-size: 40px;
    position: absolute;
    top: 105px;
    right: 170px;
}

#banner #nav {
    display: none;
    position: absolute;
    left: 100px;
    bottom: 0;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
}

#banner #nav ul {
    list-style-type:none;
    padding: 0;
}

#banner #nav li {
    margin-left: 10px;
    background: rgb(189,49,41);
    color: white;
    display: inline;
    cursor: pointer;
    border: solid 2px #781B0B;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-box-shadow: 0 0 10px #781B0B;
    -webkit-box-shadow: 0 0 10px #781B0B;
    box-shadow: 0 0 10px #781B0B;
    padding: 5px 10px 5px 10px;
}

#banner #nav li:hover {
    background: #781B0B;
    filter: alpha(opacity=90);
    -khtml-opacity: .9;
    -moz-opacity: .9;
    opacity: .9;
}
    
#flags {
    position: absolute;
    width: 100%;
}

#flags .flag_right {
    clear: both;
    float:right;
}

#flags img {
    cursor: pointer;
    width: 25px;
    margin:10px;
}

#flags label {
    margin-right: 20px;
    color: white;
}

#flags img:hover {
    -moz-box-shadow:0 0 25px rgba(255,255,255,1);
    -webkit-box-shadow:0 0 25px rgba(255,255,255,1);
    box-shadow:0 0 25px rgba(255,255,255,1);
    filter: alpha(opacity=70);
    -khtml-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
}

/*-=------------------------------------------------*/
/*                    CONTENT                       */
/*--------------------------------------------------*/

#content {
    background: url(../img/background/whiteNoise_bg.png) repeat;
    background-color: white;
    min-height: 449px;
}


/*-=------------------------------------------------*/
/*                    HOME                          */
/*--------------------------------------------------*/

#home {
    position: absolute;
    width: 100%;
    display: none;
    min-height: 449px;
}

#home h1 {
    color: #0097C5;
    font-size: 40px;
    font-weight: bold;
    margin:0;
}

#home #home_container {
    position:relative;
    margin:auto;
    text-align:center;
    width:600px;
    padding-top: 50px;
}

#home #take_tour {
    border-radius: 10px 10px 10px 10px;
    color: white;
    padding: 5px;
    background: url(../img/background/darkGray_noise_bg.png) repeat;
    width: 286px; 
    cursor: pointer;
    border: #0097C5 solid 1px;
    -moz-box-shadow: 0 0 10px #0097C5;
    -webkit-box-shadow: 0 0 10px #0097C5;
    box-shadow: 0 0 10px #0097C5;
    margin:auto;
    margin-top: 80px;
}

#home #take_tour:hover {
    filter: alpha(opacity=70);
    -khtml-opacity: .7;
    -moz-opacity: .7;
    opacity: .7;
}

/*-=------------------------------------------------*/
/*                    RESUME                        */
/*--------------------------------------------------*/

#resume {
    display: none;
    position: absolute;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

#resume .pdf_container {
    margin-top: 50px;
    height: 300px;
    position: relative;
    overflow: hidden;
    color: #434343;
}

#resume .pdf_container h1 {
    color: #0097C5;
    font-size: 40px;
    font-weight: bold;
    margin:0;
    margin-bottom: 20px;
}

#resume .pdf_container .img {
    margin-top: 30px;
    width: 200px;
    height: 133px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-box-shadow: 0 0 10px #434343;
    -webkit-box-shadow: 0 0 10px #434343;
    box-shadow: 0 0 10px #434343;
    border: 4px solid rgba(255,255,255,.7);
    cursor: pointer;
    margin-bottom: 20px;
}

#resume div.img:hover {
    filter: alpha(opacity=70);
    -khtml-opacity: .7;
    -moz-opacity: .7;
    opacity: .7;
}

#resume .group {
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
}

#resume .group label {
    font-size: 24px;
    font-weight: bold;
}

#resume #pdf_en {
    background: url(../img/flags/en_big.png) no-repeat;
}

#resume #pdf_fr {
    background: url(../img/flags/fr_big.png) no-repeat;
}

/*-=------------------------------------------------*/
/*                       TOUR                       */
/*--------------------------------------------------*/

#tour {
    position: absolute;
    width: 100%;
    display: none;
    min-height: 449px;
}

#tour img.nav {
    position:absolute;
    top: 200px;
    cursor:pointer;
    filter: alpha(opacity=30);
    -khtml-opacity: .3;
    -moz-opacity: .3;
    opacity: .3;
}

#tour img.nav:hover {
    filter: alpha(opacity=70);
    -khtml-opacity: .7;
    -moz-opacity: .7;
    opacity: .7;
}

#tour img.nav.hover {
    filter: alpha(opacity=70);
    -khtml-opacity: .7;
    -moz-opacity: .7;
    opacity: .7;
}

#tour #right_arrow {
    right: 10px;
}

#tour #left_arrow {
    left: 10px;
}

#tour #menu {
    margin-top: 10px;
    text-align:center;
}

#tour #menu ul {
    list-style: none;
    margin: 0;
    padding: 0;    
}

#tour #menu li {
    cursor: pointer;
    display: inline;
    font-size: 24px;
    font-weight: bold;
}

#tour #menu li.active {
    color: #0097C5;
}

/*#tour #tour_content {
    width:90%;
    margin:auto;
    position: relative;
    min-height:390px;
}

#tour div.tour_content {
    display:none;
    width:100%;
    top: 30px;
    text-align: center;
    position: absolute;
}*/

.slider {
    position: relative;
    overflow: hidden;
}
.slides {
    overflow: hidden;
}
.slide {
    float: left;
}

#tour .slider {
    margin: 20px 100px;
}

#tour .slide {
    width:1240px;
}
#tour #tour_content h1 {
    color: #434343;
    font-size: 40px;
    font-weight: bold;
    margin:0;
    margin-bottom: 20px;
}

#tour #tour_content .timeline #schools {
    margin-top: 20px;
}

#tour #tour_content .timeline #schools .iut {
    margin: 0 0 0 67px;
}

#tour #tour_content .timeline #schools .polytech {
    margin: 0 115px 0 150px;
}

#tour #tour_content .timeline #line {
    margin: 50px 0;
    display: inline-block;
}

#tour #tour_content .timeline #line .short label {
    margin-right: 50px;
}

#tour #tour_content .timeline #line .large label {
    margin-right: 380px;
}

#tour #tour_content .timeline #line div {
    display: inline-block;
}

#tour #tour_content .timeline #line div.continue.iut {
    border-bottom: 7px solid #BD3129;
    width: 16.5%
}

#tour #tour_content .timeline #line div.continue.polytech {
    border-bottom: 7px solid #0097C5;
    width: 41.5%;
}

#tour #tour_content .timeline #line div.continue.linnaeus {
    border-bottom: 7px solid #FCFC00;
    width: 17.5%;
}

#tour #tour_content .timeline #line div.continue.polytech-end {
    border-bottom: 7px solid #0097C5;
    width: 17.5%;
}

#tour #tour_content .timeline #line div.dashed {
    border-bottom: 7px dotted black;
    width: 3%;
}

#tour #tour_content .timeline #projects img.cnieg {
    margin: 0 75px;
}

#tour #tour_content .timeline #projects img.scut {
    margin: 0 140px 0 95px;
}

/*-=------------------------------------------------*/
/*                    CONTACT                       */
/*--------------------------------------------------*/

#contact {
    display: none;
    width: 80%;
    margin: auto;
    position: relative;
    height: 450px;
}

#contact table {
    position: relative;
    top: 30px;
    width: 100%;
    color: white;
    font-size: 16px;

}

#contact input {
    width: 100%;
    height: 30px;
    font-size: 14px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    filter: alpha(opacity=70);
    -khtml-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
    padding-left:10px;
}

#contact td.separator {
    width: 20px;
}

#contact tr {
    height: 30px;
}

#contact textarea {
    border: none;
    width: 100%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    resize:none;
    font-size: 14px;
    filter: alpha(opacity=70);
    -khtml-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
    padding: 10px;
}

#contact div.wrapper {
    position: relative;
}

#contact td.indent {
    padding-left: 10px;
}

#contact input.error {
    outline-color: #AF0022;
    outline-style: auto;
    outline-width: 1px;
}

#contact input.success {
    outline-color: #8AAA35;
    outline-style: auto;
    outline-width: 2px;
}

#contact textarea.error {
    outline-color: #AF0022;
    outline-style: auto;
    outline-width: 1px;
}

#contact textarea.success {
    outline-color: #8AAA35;
    outline-style: auto;
    outline-width: 2px;
}


#contact img.error {
    position: absolute;
    display:none;
    top: 7px;
    right: 5px;
}

#contact img.success {
    position: absolute;
    display:none;
    top: 7px;
    right: 5px;
}

#contact div.error {
    position: absolute;
    display:none;
    background-color: #AF0022;
    filter: alpha(opacity=70);
    -khtml-opacity: .7;
    -moz-opacity: .7;
    opacity: .7;
    color: white;
    border: 1px solid #AF0022;
    border-radius:3px;
    padding: 5px;
}

#contact #first_name_error {
    top: 67px;
    right: 330px;
}
#contact #last_name_error {
    top: 67px;
    right: 5px;
}
#contact #email_error {
    top: 132px;
    right: 5px;
}
#contact #message_error {
    top: 195px;
    right: 5px;
}

/*-=------------------------------------------------*/
/*                    FOOTER                        */
/*--------------------------------------------------*/

#footer {
    display:none;
    background: url(../img/background/blue_noise.png) transparent repeat;
    overflow: hidden;
    padding-top: 4px;
    padding-right: 5px;
}

div.fb-like {
    bottom: 2px;
}

#footer .socials_container {
    margin-left:50px;
    margin-top: 3px;
    float: left;
    min-width: 308px;
}

#copyright {
    font-weight:bold;
    margin-left: 50px;
    float: left;
    color: white;
    margin-top: 3px;
}

#shortcuts {
    float: right;
    color: white;
    position:relative;
    padding-top:3px;
}

#shortcuts span {
    height:100%;
    vertical-align: top;
    padding-top: 3px;    
}

#shortcuts img {
    margin-top: -3px;
}
