<div id="body">
    <div id="main_container">

    <!--*****************************************-->
    <!--               PANEL TOP                 -->
    <!--*****************************************-->
        <div id="panel_top">
             {% include "panel_top.html" %}
        </div>
    <!--*****************************************-->
    <!--               END PANEL TOP             -->
    <!--*****************************************-->

    <!--*****************************************-->
    <!--               HOME                      -->
    <!--*****************************************-->
        <div id="home">
             {% include "home.html" %}
        </div>
    <!--*****************************************-->
    <!--             END HOME                    -->
    <!--*****************************************-->


    <!--*****************************************-->
    <!--                 RESUME                  -->
    <!--*****************************************-->
        <div id="resume">
             {% include "resume.html" %}
        </div>
    <!--*****************************************-->
    <!--               END RESUME                -->
    <!--*****************************************-->


    <!--*****************************************-->
    <!--                 CONTACT                 -->
    <!--*****************************************-->
        <div id="contact">
             {% include "contact.html" %}
        </div>
    <!--*****************************************-->
    <!--              END CONTACT                -->
    <!--*****************************************-->

    <!--*****************************************-->
    <!--                 PANEL BOTTOM            -->
    <!--*****************************************-->
        <div id="panel_bottom">
             {% include "panel_bottom.html" %}
        </div>
    <!--*****************************************-->
    <!--              END PANEL BOTTOM           -->
    <!--*****************************************-->

    </div>
</div>
