<div id="bamboo_bg">
</div>
<div id="bathrock_bg">
</div>
<form action='{% url mail %}' name='mail'>
    {% csrf_token %}
    <table>
        <tr>
            <td><input class="empty" value="{{ data.contact.first_name }}" type="text" name="first_name"/><img src="{{ STATIC_URL }}img/icons/icon-error.png" name="first_name" class="error"/></td>
            <td class='separator'></td>
            <td><input class="empty" value="{{ data.contact.last_name }}" type="text" name="last_name"/><img src="{{ STATIC_URL }}img/icons/icon-error.png" name="last_name" class="error"/></td>
        </tr>
        <tr>
            <td colspan="3"><input class="empty" value="{{ data.contact.email }}" type="text" name="email"/><img src="{{ STATIC_URL }}img/icons/icon-error.png" name="email" class="error"/></td>
        </tr>
        <tr>
            <td colspan="3" name="message" class="indent">{{ data.contact.message }}</td>
        </tr>
        <tr>
            <td colspan="3"><textarea name="message" rows="10" width="100%"></textarea></td>
        </tr>
        <tr>
            <td colspan="3"><center><button class="red_button" type="submit">{{ data.contact.button }}</button></center></td>
        </tr>
    </table>

    <div id="first_name_error" name="first_name" class="error"></div>
    <div id="last_name_error" name="last_name" class='error'></div>
    <div id="email_error" name="email" class='error'></div>
</form>
