<div id="banner">
    <div class='begining'>{</div>
    <div name="intro" class="intro">
                <p></p>
    </div>
    <div class='end'>}</div>
    <div id="nav">
        <ul>
            <li name="home">{{ data.nav.0 }}</li>
            <li name="resume">{{ data.nav.1 }}</li>
            <li name="contact">{{ data.nav.2 }}</li>
        </ul>
    </div>
    <div id="flags">
        <div class="flag_right">
            <img id="flag_fr" src="{{ STATIC_URL }}img/flags/fr.png"/>
            <img id="flag_en" src="{{ STATIC_URL }}img/flags/en.png"/>
        </div>
        <div class="flag_right">
            <label id="flag_text">{{ data.lang }}</label>
        </div>
    </div>
    <img src="{{ STATIC_URL }}img/pictures/banner.png"/>
</div>
