<span dojoType="dijit.layout.AccordionContainer" 
              style="width: 100%; height: 100%; min-width: 1em; min-height: 1em;">
<!--*****************************************-->
<!--             CONTACT PANEL               -->
<!--*****************************************-->
    <div id="contact"
         dojoType="dijit.layout.ContentPane" 
         title="{{ data.contact_panel }}" 
         extractContent="false" preventCache="false" 
         preload="false" refreshOnShow="false" 
         selected="true" closable="false" 
         style="width: 24px; height: 407px;" doLayout="false">

        <div id="contact_panel_content">
            <img name="contact_picture" class="picture" src="{{ STATIC_URL }}img/pictures/mypicture.png"/>
        </div>
     </div>
<!--*****************************************-->
<!--           END CONTACT PANEL             -->
<!--*****************************************-->


<!--*****************************************-->
<!--              RESUME PANEL               -->
<!--*****************************************-->
    <div id="resume"
         dojoType="dijit.layout.ContentPane" 
         title="{{ data.resume_panel }}" 
         extractContent="false" preventCache="false" 
         preload="false" refreshOnShow="false" 
         selected="false" closable="false" 
         style="width: 24px; height: 407px;" doLayout="false">
    </div>
<!--*****************************************-->
<!--           END RESUME PANEL              -->
<!--*****************************************-->
</span>
